<%=  render 'layouts/header'%>
<div class="container">
	<h1 class="col-sm-offset-3 col-sm-6">With <%= @time_est %> minutes you could: </h1>



	<% @priority_actions.each do |priority| %>
	<div class="action-div col-sm-offset-2 col-sm-8 text-center">
			<h3 class="action" id="<%= priority.id %>"><%= priority.action_name%></h3>
			<div class="clicker-div">
				<p>Notes: <%= priority.notes%></p>
				<p>Time: <%= priority.time_estimated%></p>
			</div>
		</div>
	<% end %>
	<script charset="utf-8">
		collapsableList();
	</script>

</div>
