<%=  render 'layouts/header'%>
<div class="container">
	<h1 class="col-sm-offset-3 col-sm-9">With <%= @time_est %> minutes you could: </h1>



	<% @priority_actions.each do |priority| %>
	<div class="action-div priority col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= priority.id %>"><%= priority.action_name%></h3>
			<p class= "time-foot-w text-right"><%=priority.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= priority.notes%></p>
				<p>Time: <%= priority.time_estimated%></p>
				<p>PRIORITY!</p>
			</div>
		</div>
	<% end %>

	<!--if time_est is: 60,50,40,30,20,10,5  -->

	<% @sorted_actions.each do |sorted| %>

	<% if sorted.time_estimated === 60 %>
		<div class="action-div sixty col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 50 %>
		<div class="action-div fifty col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 40 %>
		<div class="action-div forty col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 30 %>
		<div class="action-div thirty col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot-w text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 20 %>
		<div class="action-div twenty col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot-w text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 10 %>
		<div class="action-div ten col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot-w text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% elsif sorted.time_estimated === 5 %>
		<div class="action-div five col-sm-offset-2 col-sm-8 text-left">
			<h3 class="action" id="<%= sorted.id %>"><%= sorted.action_name%></h3>
			<p class= "time-foot-w text-right"><%=sorted.time_estimated%></p>
			<div class="clicker-div">
				<p>Notes: <%= sorted.notes%></p>
				<p>Time: <%= sorted.time_estimated%></p>
			</div>
		</div>
	<% end %>
	<% end %>
	<script charset="utf-8">
		collapsableList();
	</script>

</div>
